.hidden{
    display: none;
}
ul{
    list-style-type: none;
}
.active, .nav-item.nav-link.link-secondary.be-link:hover{
    color:blue !important;
}
.hide{
    display:none;
}
.active {
    color: green;
}
