{% extends 'base.html' %}
{% block title %}Benevolence Home{% endblock title %}

{% block body %}
 
        <h2>Greetings Benevolent One!</h2>
        
        

        <h4>Create Account</h4>
        <form action="/users/new" method="POST">
        <p> 
            First name<input type="text" name=fname>
        </p>
        <p>
            Last name<input type="text" name="lname">
        </p>
        <p>
            Email<input type="text" name="email">
        </p>
        <p>
            Password<input type="password" name="password">
        </p>
        <p>
            <input type="submit">
        </p>
        </form>
        <h4>Log In</h4>
        <form action="/login" method="POST">
            <P>
                Email <input type="text" name="email">
            </P>
            <p>
                Password <input type="password" name="password">
            </p>
            <p>
                <input type="submit">         
             </p>
        </form>
        {% endblock body %}
   
