{% extends 'base.html' %}
{% block title %}{{recipient.r_name}} Details{% endblock title %}

{% block body %}
<div id="log-out">
    <a href="/logout">Logout</a>
</div>


<hi>{{recipient.r_name}}</hi>
<div class="sched_events" >
<h2>Events</h2>
<ul>
    {% if session.get('user_email') %}
        {% for event in recipient.events %}
            <li>
                {{ event.event_name}}:
                <span class=event_num_{{ event.event_id}}>
                    {{event.event_date}}
                </span>
            </li>
        {% endfor %} 
    {% endif %}
</ul>
</div>
<!-- <h3>Add Likes</h3>
<form action="/likes/new" id="likes" method="POST">
   <label for="fav_color">
    What is their favorite color?<input type="text" name="fav_color">
   </label><br><br>
   <label for="fav_food">
    What is their favorite food?<input type="text" name="fav_food">
   </label><br><br>
<label for="hobbies">
    what are their hobbies/interest?<input type="text" name="hobbies"> 
</label><br><br>
    <input type="submit" value="Submit">
</form> -->
<h3>Add Events</h3>
{% if session.get('user_email') %}
    <form action="/events/new" id="n_event" method="POST">
    <label for="event_name">Enter the name of the event</label>
    <input type="text" id="event_name" name="event_name">
    <br>
    <br>
    <label for="event_date" id="event_date" name="event_date">Enter date to begin preparing for event</label>
    <input type="date" id="event_date" name="event_date">
    <br>
    <br>
    <input type="submit" value="Submit">
    </form>
{% endif %}



{% endblock body %}