{% extends 'base.html' %}
{% block title %}{{recipient.r_name}} Details{% endblock title %}

{% block body %}
<div id="log-out">
    <a href="/logout">Logout</a>
</div>


<hi>{{recipient.r_name}}</hi>
<div class="sched_events" >
<h2>Events</h2>
<ul>
    {% if session.get('user_email') %}
        {% for event in recipient.events %}
            <li>
                {{ event.event_name}}:<br>
                <span class=event_num_{{ event.event_id}}>
                   Start preparing for this event on: {{event.event_date|datetimeformat}} <br>
                    {% if not event.note %}
                    <form action="/note/new/{{event.event_id}}" id="n_note" method="POST">
                        <label for="note">Enter plan here</label> 
                        <input type="textarea" id="event_note" name="note">
                        <br>
                        <br>
                        <input type="submit" value="Submit">
                        </form>
                        {%else%}
                        <span class=note_content_{{ event.note.note_id}}>
                        Your Plans: {{event.note.content}}
                        <button class="edit-note-content" id={{event.note.note_id}}> Edit plan</button>
                        </span>
                        <div class="hidden">
                            <form action="/update_note", id="update_note_{{event.note.note_id}}" method="POST">
                                <label for="note">Update Your plan here</label>
                                <input type="textarea" id="update_event_note_{{event.note.note_id}}" name="note">
                                <br>
                                <br>
                                <input type="submit" value="Submit">
                            </form>
                        </div>
                        {% endif %}   
                    </span>
            </li>
            
        {% endfor %} 
    {% endif %}
</ul>
</div>
<!-- <h3>Add Likes</h3>
<form action="/likes/new" id="likes" method="POST">
   <label for="fav_color">
    What is their favorite color?<input type="text" name="fav_color">
   </label><br><br>
   <label for="fav_food">
    What is their favorite food?<input type="text" name="fav_food">
   </label><br><br>
<label for="hobbies">
    what are their hobbies/interest?<input type="text" name="hobbies"> 
</label><br><br>
    <input type="submit" value="Submit">
</form> -->
<h3>Add Events</h3>
{% if session.get('user_email') %}
    <form action="/recipients/{{ recipient.recipient_id }}/events" id="n_event" method="POST">
    <label for="event_name">Enter the name of the event</label>
    <input type="text" id="event_name" name="event_name">
    <br>
    <br>
    <label for="event_date" id="event_date" name="event_date">Enter date to begin preparing for event</label>
    <input type="date" id="event_date" name="event_date">
    <br>
    <br>
    <input type="submit" value="Submit">
    </form>
{% endif %}

<script src="../static/updateNotes.js"></script>
{% endblock body %}